{% extends 'base.html' %} {% load static %}
<!-- main -->
{% block main %}
<main style="background-image: url('{% static 'images/image-05.jpg' %}'); background-size: cover; background-position: center" class="h-100 card-img card">
	<div class="card-img-overlay container">
		<div class="row">
			<div class="col-4">
				<div class="card box-shadow-3 h-100 bg-transparent">
					<img src="{% static 'images/person-2.png' %}" alt="" class="card-img-top" />
					<div class="card-body ">
						<div class="card-title fs-4 fw-semibold text-center">Trần Lý Thanh Duy</div>
						<div class="card-text mt-4 mb-2 fw-light">
							<div>
								<span class="me-4">Student ID:</span>
								<span class="fw-semibold">20521249</span>
							</div>
							<div>
								<span class="me-0">Email address:</span>
								<span class="fw-semibold">20521249@gm.uit.edu.vn</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card box-shadow-3 h-100 bg-transparent">
					<img src="{% static 'images/person-1.png' %}" alt="" class="card-img-top" />
					<div class="card-body">
						<div class="card-title fs-4 fw-semibold text-center">Bùi Hữu Khánh</div>
						<div class="card-text mt-4 mb-2 fw-light">
							<div>
								<span class="me-4">Student ID:</span>
								<span class="fw-semibold">18520897</span>
							</div>
							<div>
								<span class="me-0">Email address:</span>
								<span class="fw-semibold">18520897@gm.uit.edu.vn</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card box-shadow-3 h-100 bg-transparent">
					<img src="{% static 'images/person-3.png' %}" alt="" class="card-img-top" />
					<div class="card-body">
						<div class="card-title fs-4 fw-semibold text-center">Lâm Bảo Duy</div>
						<div class="card-text mt-4 mb-2 fw-light">
							<div>
								<span class="me-4">Student ID:</span>
								<span class="fw-semibold">20521231</span>
							</div>
							<div>
								<span class="me-0">Email address:</span>
								<span class="fw-semibold">20521231@gm.uit.edu.vn</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card rounded-0 border-0 " style="">
		<!-- <div class="card-img bg-img-for-custom-col rounded-0 shadow" style="background-image: url('{% static 'images/image-05.jpg' %}')"></div> -->
		<div class="card-img-overlay container">
			<div class="row">
				<!-- <div class="col-4">
					<div class="card mh-100 h-100 box-shadow-3">
						<img src="{% static 'images/person-2.png' %}" alt="" class="card-img-top" />
						<div class="card-body">
							<div class="card-title fs-4 fw-semibold text-center">Trần Lý Thanh Duy</div>
							<div class="card-text mt-4 mb-2 fw-light">
								<div>
									<span class="me-4">Student ID:</span>
									<span class="fw-semibold">20521249</span>
								</div>
								<div>
									<span class="me-0">Email address:</span>
									<span class="fw-semibold">20521249@gm.uit.edu.vn</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card mh-100 h-100 box-shadow-3">
						<img src="{% static 'images/person-1.png' %}" alt="" class="card-img-top" />
						<div class="card-body">
							<div class="card-title fs-4 fw-semibold text-center">Bùi Hữu Khánh</div>
							<div class="card-text mt-4 mb-2 fw-light">
								<div>
									<span class="me-4">Student ID:</span>
									<span class="fw-semibold">18520897</span>
								</div>
								<div>
									<span class="me-0">Email address:</span>
									<span class="fw-semibold">18520897@gm.uit.edu.vn</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card mh-100 h-100 box-shadow-3">
						<img src="{% static 'images/person-3.png' %}" alt="" class="card-img-top" />
						<div class="card-body">
							<div class="card-title fs-4 fw-semibold text-center">Lâm Bảo Duy</div>
							<div class="card-text mt-4 mb-2 fw-light">
								<div>
									<span class="me-4">Student ID:</span>
									<span class="fw-semibold">20521231</span>
								</div>
								<div>
									<span class="me-0">Email address:</span>
									<span class="fw-semibold">20521231@gm.uit.edu.vn</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</main>
{% endblock main %}
