<!DOCTYPE html>
<html lang="en">
	<body style="background-color: rgb(240, 240, 240); padding: 30px 0px">
		<div style="width: 55%; border-radius: 0.4rem; padding: 1.5rem; background-color: #fff; margin: auto">
			<div style="text-align: center">
				<a href="{{ protocol }}://{{ domain }}{% url 'home-page' %}" style="text-decoration: none; font-size: 22px; color: #0d6efd; font-weight: 800">UIT Share</a>
			</div>
			<div style="margin: 1rem 0">
				<div style="font-weight: 700; font-size: larger">Hi, <strong>{{ user.get_username }}</strong></div>
				<div style="font-weight: 300; color: #9e9ea7">Here are your password reset instructions.</div>
			</div>
			<hr />
			<div style="margin: 1rem 0 1.3rem 0">A request to reset your <strong>UIT Share</strong> password has been made. If you did not make this request, simply ignore this email. If you did make this request, please reset your password by clicking button below:</div>
			<div>
				<a href="{{ protocol }}://{{ domain }}{% url 'password-reset-confirmation-page' uidb64=uid token=token %}" target="_blank" style="margin: 0 auto; color: #fff; width: max-content; text-decoration: none; display: block; border-radius: 0.4rem; background-color: #0d6efd; padding: 7px; border: 5px solid #0d6efd">Reset Password</a>
			</div>
			<div style="margin-top: 1.5rem; margin-bottom: 1.1rem">
				<div>If clicking the button above doesn't work, please copy and paste the URL below in a new browser window instead.</div>
				<div>{{ protocol }}://{{ domain }}{% url 'password-reset-confirmation-page' uidb64=uid token=token %}</div>
			</div>
			<p>Thanks for using our site!</p>
			<p>Team <strong>UIT Share</strong></p>
		</div>
	</body>
</html>
