{% extends 'base.html' %}
<!-- main -->
{% block main %}
<main class="container">
	<!-- <div class="mt-5">
		<span>Your password was changed successfully!</span>
		<span
			>Go to <a href="{% url 'home-page' %}" class="text-decoration-none align-items-center justify-content-center">Home page now <i class="fa-solid fa-house ms-1"></i></a
		></span>
	</div> -->
	<div class="fs-2 fw-semibold text-black-50 mt-4">Password Change Complete</div>
	<div class="mt-3">
		<p>Your password was changed successfully!</p>
	</div>
	<div class="mt-4">
		<span class="text-muted fw-light">Go back to <a href="{% url 'home-page' %}" class="text-decoration-none">Home page</a></span>
	</div>
</main>
{% endblock main %}
