{% extends 'base.html' %}
<!-- main -->
{% block main %}
<main class="container">
	<div class="fs-2 fw-semibold text-black-50 mt-4">Password Reset</div>
	<div class="mt-4">
		<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
		<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
	</div>
	<div class="mt-5">
		<span class="text-muted fw-light">Go back to <a href="{% url 'home-page' %}" class="text-decoration-none">Home page</a></span>
	</div>
</main>
{% endblock main %}
