{% extends 'base.html' %}
<!-- main -->
{% block main %}
<main class="container">
	<div class="box-shadow-1 mb-5 mx-auto form-style-1" style="height: max-content; width: 70%; margin-top: 5rem; min-height: 475.13px; max-height: max-content">
		<div class="row">
			<div class="col-4 px-4 border-end">
				<img src="{{ user_detail.avatar_img.url }}" alt="User Avatar" class="img-fluid img-thumbnail shadow w-100" />
				{% if user_detail.id == user.id %}
				<div class="vstack gap-2 mt-4">
					<a href="{{ user_detail.get_settings_url }}" class="btn btn-primary w-100 box-shadow-3">Edit profile</a>
					<a href="{% url 'password-change-page' %}" class="btn btn-primary w-100 box-shadow-3">Change password</a>
					<form method="post" class="" action="{% url 'logout-page' %}">
						{% csrf_token %}
						<button class="btn btn-danger w-100 box-shadow-3" type="submit">Log out</button>
					</form>
				</div>
				{% endif %}
			</div>
			<div class="col-8 border-start">
				<div class="ms-4">
					<div class="fw-bold fs-1 mt-5">{{ user_detail.name }}</div>
					<div class="row mt-4">
						<label for="" class="col-form-label col-4 text-black-50">Username:</label>
						<div class="col-8">
							<div class="form-control-plaintext fw-semibold" style="text-align: justify">{{ user_detail.username }}</div>
						</div>
					</div>
					<div class="row">
						<label for="" class="col-form-label col-4 text-black-50">Email address:</label>
						<div class="col-8">
							<div class="form-control-plaintext fw-semibold" style="text-align: justify">{{ user_detail.email }}</div>
						</div>
					</div>
					<div class="row">
						<label for="" class="col-form-label col-4 text-black-50">Date Joined:</label>
						<div class="col-8">
							<div class="form-control-plaintext fw-semibold" style="text-align: justify">{{ user_detail.date_joined|date:'F d, o' }}</div>
						</div>
					</div>
					<div class="row">
						<label for="" class="col-form-label col-4 text-black-50">Bio:</label>
						<div class="col-8">
							<div style="text-align: justify" class="form-control-plaintext fw-semibold">{{ user_detail.bio }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock main %}
