{% extends 'base.html' %} {% load widget_tweaks %}

<!-- main -->
{% block main %}
<main class="container">
	<div class="box-shadow-1 my-5 mx-auto form-style-1">
		<div class="mb-4">
			<div class="fw-bold text-primary fs-3">Welcome to UIT Share!</div>
			<small class="text-muted fw-light">Let's get started with new account.</small>
		</div>
		{% if form.errors %}
		<div class="alert d-flex alert-danger alert-dismissible fade show align-items-baseline" role="alert">
			<i class="fa-solid fa-triangle-exclamation"></i>
			<ul class="mb-0 ps-4">
				{% for field in form %} {% for error in field.errors %}
				<li>{{ error }}</li>
				{% endfor %} {% endfor %}
			</ul>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endif %}

		<form autocomplete="off" method="post" class="mt-3">
			{% csrf_token %}
			<div class="row g-2 mb-3">
				<div class="col-6">
					<div class="form-floating">
						{% render_field form.name|add_class:"form-control bg-light rounded-3 ps-3 box-shadow-3"|attr:"placeholder:..."|remove_attr:"maxlength"|add_error_class:"is-invalid" %}
						<label class="text-muted">
							<i class="fa-solid fa-address-card me-1"></i>
							Name
						</label>
					</div>
				</div>
				<div class="col-6">
					<div class="form-floating required">
						{% render_field form.username|add_class:"form-control bg-light rounded-3 ps-3 box-shadow-3"|attr:"placeholder:..."|remove_attr:"autofocus"|remove_attr:"maxlength"|add_error_class:"is-invalid" %}
						<label class="text-muted">
							<i class="fa-solid fa-circle-user me-1"></i>
							Username
						</label>
					</div>
				</div>
			</div>
			<div class="form-floating mb-3 required">
				{% render_field form.email|add_class:"form-control bg-light rounded-3 ps-3 box-shadow-3"|attr:"placeholder:..."|remove_attr:"maxlength"|add_error_class:"is-invalid" %}
				<label class="text-muted">
					<i class="fa-solid fa-at me-1"></i>
					Email address
				</label>
			</div>
			<div class="form-floating mb-3 required">
				{% render_field form.password1|add_class:"form-control bg-light rounded-3 ps-3 box-shadow-3"|attr:"placeholder:..."|remove_attr:"maxlength"|add_error_class:"is-invalid" %}
				<label class="text-muted">
					<i class="fa-solid fa-lock me-1"></i>
					Password
				</label>
			</div>
			<div class="form-floating mb-3 required">
				{% render_field form.password2|add_class:"form-control bg-light rounded-3 ps-3 box-shadow-3"|attr:"placeholder:..."|remove_attr:"maxlength"|add_error_class:"is-invalid" %}
				<label class="text-muted">
					<i class="fa-solid fa-lock me-1"></i>
					Password confirmation
				</label>
			</div>
			<div class="d-grid">
				<button type="submit" class="btn btn-lg btn-primary rounded-3 box-shadow-2">Register</button>
			</div>
		</form>
		<hr class="my-4" />
		<div class="text-center">
			<small class="fw-light text-muted">
				Already have an account?
				<a href="{% url 'login-page' %}" class="text-decoration-none">Login</a>
			</small>
		</div>
	</div>
</main>
{% endblock main %}
